- @tournament.poules.each do |poule|
  %div.poule
    %h3= poule.name
    = simple_form_for [:admin, Team.new ], :remote => true do |p|
      = p.input :name, :label => false, :input_html => { :placeholder => "Nieuw team in poule #{poule.name}"}
      = p.hidden_field :poule_id, :value => poule.id
    %ul
      - poule.teams.each do |team|
        %li=team.name